<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>007 MVP</title>
    <script src="/angular/angular.min.js"></script>
    <script src="/mainPlayer.js"></script>
  </head>

  <body>
    <h1>Can you beat 007?!</h1>

    <div>Player: #</div>
    <div>Computer: #</div>

    <div ng-app="007">
     <mainPlayer />
    </div>
  </body>
</html>